html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightsteelblue;
}

input {
    margin-bottom: 5px;
}

header {
    width: 100%;
    max-width: 800px;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1 {
    font-size: 2rem;
}

main {
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex: 1;
    width: 100%;
    max-width: 800px;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

button {
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
}

.button-clean {
    background: none;
    border: none;
    padding: 0;
    color: inherit;
}

a, a:hover, a:visited, a:focus,
.button-action, .button-action:hover, .button-action:focus {
    text-decoration: none;
    color: mediumblue;
}

a:hover, .button-action:hover {
    color: steelblue;
}

.inline {
    display: inline-block;
}

.button-home {
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 5px;
    font-weight: bold;
}

.search-box-default {
    background-color: steelblue;
    border-color: whitesmoke;
    margin: 5px;
    border-radius: 1px;
}

button, .button-home-find, .button-action, .input-home-find, .select-home-find {
    display: inline-block;
    width: 50px;
    text-align: center;
    margin: 5px;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0;
}

.button-home-find {
    margin: 5px 5px 5px 0;
}

.select-home-find {
    margin: 5px 0 5px 0;
}

.input-home-find {
    margin: 5px 0 5px 5px;
}

.select-home-find {
    width: 100px
}

.card-new-task {
    max-width: 500px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.card-new-task label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

.list table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.list-tasks {
    font-size: 1rem;
    width: 23%;
    display: inline-block;
    text-align: center;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-tasks-id {
    width: 5%;
}

.list-tasks-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.text-status-pending {
    color: darkred;
}

.text-status-done {
    color: forestgreen;
}