<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>ToDo - Tasks</title>
</head>
<body>

<div class="list" layout:fragment="main-content">
    <table>
        <thead>
        <tr>
            <th class="list-tasks list-tasks-id list-tasks-title">ID</th>
            <th class="list-tasks list-tasks-title">Name</th>
            <th class="list-tasks list-tasks-title">Status</th>
            <th class="list-tasks list-tasks-title">Categories</th>
            <th class="list-tasks list-tasks-title">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.id}" class="list-tasks list-tasks-id"></td>
            <td th:text="${task.name}" class="list-tasks"></td>

            <td class="list-tasks">
                <span th:text="${task.status}"
                      th:classappend="${task.status.name() == 'DONE'} ? 'text-status-done' : 'text-status-pending'">

                </span>
            </td>

            <td class="list-tasks">
            <span th:each="category, iterStat : ${task.categories}"
                  th:text="${category.name} + (!${iterStat.last} ? ', ' : '')">
            </span>
            </td>

            <td class="list-tasks">
                <a th:href="@{/tasks/edit/{id}(id=${task.id})}" class="inline button-action">editar</a>
                <form th:if="*{!task.isDone()}" th:action="@{/tasks/update/{id}/status(id=${task.id})}"
                      th:method="put">
                    <button type="submit" class="inline button-clean button-action" th:text="finish"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <p th:if="${#lists.isEmpty(tasks)}">No tasks found</p>
</div>

</body>
</html>